project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
.idea
.idea/*
*.iml
*.ipr
*.iws
.classpath
.project
.scala_dependencies
.target/
.cache
logs/*
.settings/
/bin/
.cache-main
.cache-tests
